body{
    margin: 0;
    display: flex;
    flex-direction: column;   
    height:100%;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:10px; 
    padding:5px;
      
}

.hero{
    color:#e5e7eb;
    font-size:18px;
}


.header, .footer{
    height: 40px;
    color:white;
    background-color: #1F2937; 
}

button{
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    font-weight:bolder;
    font-size: 20px;

    
}



.top{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #1F2937;
            
}

.content1{
    width:500px;
    margin:10px;
    padding:10px;
    
}

h1{
    font-size:48px;
    font-weight: bold;
}




.placeholder{
    background-color: gray;
    align-items: center;
    justify-content: center;
    display:flex;
    height: 300px;
    width: 500px;
}

.info{
    height: 500px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
}


.info-header{
    display:flex;
    justify-content: center;
}

.random{
    font-weight: bold;
    font-size: 48px;
    margin: 20px;
    padding:5px;
    
}




.info-p{
    margin-top:150px;
}


.pictures{
    display:flex;
    height:300px;
    justify-content:center;
    
}

.info-pics{
    border: 3px solid#3882f6;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    margin:20px;
    border-radius: 10px;
}

.random{
    font-size: 36px extra bold;
    color: #1f2937;
    
}



.quote{
    height: 500px;
    background-color: #e5e7eb;
    display:flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-items: center;
}

.text{
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    margin:20px;
    padding:20px;
}

.charlie{
    font-weight: bolder; 
    display:flex;
    justify-content: flex-end;
    margin:40px;
}




.call{
    height:500px;
    
}

 a{
    color:white;
    text-decoration: none;
    font: size 24px;
    gap: 20px;
  }

  .call{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 24px;
  }

  .action-box{
    display:flex;
    box-sizing: border-box;
    
  }


.action-box, .bottom-button{
    background-color: #3882f6;
    color:white;
}

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }