body{
    margin: 0;
    display: flex;
    flex-direction: column;
}





ul{
    list-style-type: none;
    display: flex; 
    margin-left: auto;
    gap: 10px;
    font-size: auto;
    
    
}



.top{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #1F2937;
            
}

.info{
    height: 500px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}


.pictures{
    display:flex;
    align-content: center;
    height:300px;
}

.info-pics{
    border: 3px solid black;
    height: 100px;
    width: 100px;
}

.random{
    font-size: 24px;
    
}



.quote{
    height: 500px;
}

.call{
    height:500px;
}


.header, .footer{
    height: 40px;
    display: flex;
    color:white;
    background-color: #1F2937;
    align-items: center;
    
}

.content1, .placeholder{
    display:flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    
}

.placeholder{
    background-color: gray;
    align-items: center;
    justify-content: center;
}

 a{
    color:white;
    text-decoration: none;
    font: size 24px;
    gap: 20px;
  }